.info-container {
  background-color: rgb(14, 15, 16);
  height: 100vh;
  width: 100vw;
  border-radius: 0px;
  overflow-y: auto;
}

.title-container {
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  margin-top: 10px;
}
.title {
  display: flex;
  justify-content: center;
  margin: 20px;
  color: white;
}
.bi-arrow-left {
  color: white;
  margin-left: 7px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
}

.name-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  color: white;
  font-size: 30px;
}

.options-container {
  display: flex;
  justify-content: space-between;
  margin: 50px 270px 50px;
  color: white;
}
.video-container,
.search-container,
.call-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: rgb(225, 213, 213) solid 1px;
  border-radius: 10px;
  padding: 10px;
  width: 180px; /* Ajusta el valor según el tamaño deseado */
}

.video-container i,
.search-container i,
.call-container i {
  margin-bottom: 5px;
}
h4,
span {
  color: white;
}

p {
  color: white;
  margin-top: 4px;
}
.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.notifications-container,
.visibility-container,
.security-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  margin-bottom: 5px;
  margin: 7px;
  padding: 10px;
}
.notifications-container i,
.visibility-container i,
.security-container i {
  margin-right: 10px;
  margin-bottom: 0px;
}
