.home-container {
  background-color: #000000;
  height: 400px;
  width: 320px;
  border-radius: 10px;
  overflow-y: auto;
  /* max-width: 300px; */
}
.home-title {
  color: #ffff;
  padding: 5px;
  font-weight: bold;
  margin-top: 5px;
}
